@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --red: #FA213C;
    --h1: 1.25rem;
    --h2: 1rem;
    --text: 0.875rem;
    --pad20: 1.25rem;
    --pad10: 0.625rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Verdana;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    border-bottom: 1px solid rgb(145, 145, 145);
}

#navbar {
    display: flex;
    justify-content: center;
}

#navbar a {
    display: flex;
    justify-content: center;
    padding: var(--pad20);
}

.jui-icon {
    width: 150px;

}

#container {
    background-color: #272928;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-box {
    text-align: left;
    padding: var(--pad20);
    color: white;
}

.title {
    font-size: var(--h1);
}

.days {
    font-size: var(--h2);
    padding-top: 0.5rem;
}

.box-color {
    color: white;
    background-color: var(--red);
}

.locate {
    font-size: var(--h2);
    padding-top: 0.5rem;
}

.org {
    font-size: var(--text);
    padding-top: 0.5rem;
}

.org-box-color {
    background-color: var(--red);
    color: white;
    font-weight: 700;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-links {
    text-align: center;
    color: white;
}

.aguarde {
    margin-bottom: 2rem;
}

.color {
    color: var(--red);
}

.email {
    padding: 0.675rem;
    display: flex;
    align-items: center;
    color: #272928;
    background-color: white;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
    justify-content: space-between;
    font-weight: 800;
    transition: all .4s ease-in;
}

.email:hover {
    background-color: var(--red);
    color: white;
}

#email-icon {
    font-size: 1.25rem;
}

.link-box {
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: 800;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
    align-items: center;
    border-radius: 7px;
    transition: all .4s;
    position: relative;
}

.link-box:hover {
    color: var(--red);
    box-shadow: 0px 5px 10px black;
}

.link-box p {
    width: 80%;
}

#icone {
    font-size: 2rem;
    position: absolute;
    right: 2rem;

}

footer {
    width: 100%;

}

.navfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem 0;
    font-weight: 600;
}

.nav-footer-box {
    width: 50%;
    text-align: center;
}

.jui-footer-img {
    padding-block: 1rem;
    width: 7rem;
}

.urca-footer-img {
    padding-block: 1rem;
    height: 7rem;
}

.ca-footer-img {
    padding-block: 1rem;
    width: 5rem;
}

@media screen  and (min-width: 1024px) {
    #container {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .name-link {
        margin: 1rem;
    }

    #links {
        width: 50%;
    }

    .title-links {
        margin: 1.25rem 0;
    }

    .email {
        color: #272928;
        text-decoration: none;
        padding: 1.25rem;
        background-color: white;
        display: flex;
        margin: 1.25rem 0;
        border-radius: 10px;
        font-weight: 800;
        align-items: center;
        position: absolute;
        width: 400px;
        transition: all .4s ease-in;
    }
    
    .email:hover {
        background-color: var(--red);
        color: white;
    }

    #email-icon {
        position: absolute;
        right: 20px;
        font-size: 1.25rem;
    }

    .navfooter {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .jui-footer-img {
        padding-block: 1rem;
        width: 7rem;
    }
    
    .urca-footer-img {
        padding-block: 1rem;
        height: 7rem;
    }
    
    .ca-footer-img {
        padding-block: 1rem;
        width: 5rem;
    }

}
